$primaryFont: 'Lato', sans-serif;
$bgWhiteColor: #ffffff;
$bgDarkColor: #323232;
$bgPrimaryColor: #F5F5F5;
$textPrimaryColor: #323232;
$textSecondaryColor: #F8F8F8;
$textTertiaryColor: #808080;
$btnPrimaryColor:#97B543;
$paragraphColor: #4D4D4D;
$cardBackgroundColor: #DFE1CF;
